<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                {% if not current_user.is_authenticated %}
                    <img src="https://www.gravatar.com/avatar/16c849fbf6376ca3e613b72ba33dc5ea" />
                {% else %}
                    <img src="{{ current_user.avatar() }}" />
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="info">
                <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            {% if current_user.fullname %}
                                {{ current_user.fullname }}
                            {% else %}
                                {{ current_user.nickname }}
                            {% endif %}
                        </a>
                        
                </div>
            </div>
            {% endif %}
        </div>
        
        <ul class="nav">
            {% if page == 'index' %}
                <li class="active">
                    <a href="{{ url_for('index') }}">
                        <i class="material-icons">dashboard</i>
                        <p>Pagina principala</p>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('index') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Pagina principala</p>
                    </a>
                </li>
            {% endif %}

            {% if page == 'profile' %}
                <li class="active">
                    <a href="{{ url_for('profile') }}">
                        <i class="material-icons">dashboard</i>
                        <p>Profilul meu</p>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('profile') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Profilul meu</p>
                    </a>
                </li>
            {% endif %}

            {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('login') }}">
                    <i class="material-icons">fingerprint</i>
                    <p>Login</p>
                    </a>
                </li>
            {% endif %}

            {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('register') }}">
                    <i class="material-icons">person_add</i>
                    <p>Register</p>
                    </a>
                </li>
            {% endif %}

            {% if current_user.is_authenticated %}
                {% if page == 'prob' %}
                    <li class="active">
                        <a href="{{ url_for('prob_user', nickname=current_user.nickname) }}">
                            <i class="material-icons">dashboard</i>
                            <p>Problemele mele</p>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('prob_user', nickname=current_user.nickname) }}">
                            <i class="material-icons">dashboard</i>
                            <p>Problemele mele</p>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            <!-- <li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p>Pages
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li>
                            <a href="../pages/pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="../pages/timeline.html">Timeline</a>
                        </li>
                        <li>
                            <a href="../pages/login.html">Login Page</a>
                        </li>
                        <li>
                            <a href="../pages/register.html">Register Page</a>
                        </li>
                        <li>
                            <a href="../pages/lock.html">Lock Screen Page</a>
                        </li>
                        <li>
                            <a href="../pages/user.html">User Profile</a>
                        </li>
                    </ul>
                </div>
            </li> -->

            {% if current_user.is_authenticated %}
                {% if page == 'settings' %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{{ url_for('settings') }}">
                    <i class="material-icons">settings</i>
                    <p>Setari</p>
                    </a>
                </li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('logout') }}">
                    <i class="material-icons">fingerprint</i>
                    <p>Logout</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>