{% set title = "Pagina Principala" %}
{% set page="index" %}
{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <div class="container-fluid">
    {% if first_time %}
        <div class="alert alert-info alert-with-icon" data-notify="container">
            <i class="alert alert-info alert-with-icon" data-notify="icon">notifications</i>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
            <span class="now-ui-icons ui-1_bell-53" data-notify="icon"></span>
            <span data-notify="message">
                Pentru a putea sa-ti vezi sursele, te rugam introdu-ti username-urile de pe site-urile
                listate in meniul  "Settings"
            </span>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}