{% extends "base.html" %}
{% block title %}
    {% if current_user.is_authenticated %}
        {% if current_user.fullname %}
            {{ current_user.fullname }}
        {% else %}
            {{ current_user.nickname }}
        {% endif %}
    {% else %}
        Not logged in
    {% endif %}
{% endblock %}
{% block content %}


<div class="wrapper">
    {% with page='index' %}
        {% include 'sidebar.html' %}
    {% endwith %}
    <div class="main-panel">
        {% with title="Pagina Principala" %}
            {% include 'navbar.html' %}
        {% endwith %}
        <div class="content">

            <div class="container-fluid">
        {%if first_time%}
            {%if first_time == True%}
            <div class="alert alert-info alert-with-icon" data-notify="container">
                <i class="alert alert-info alert-with-icon" data-notify="icon">notifications</i>
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span class="now-ui-icons ui-1_bell-53" data-notify="icon"></span>
                <span data-notify="message">
                    Pentru a putea sa-ti vezi sursele, te rugam introdu-ti username-urile de pe site-urile
                    listate in meniul  "Settings"
                </span>
            </div>

            {%endif%}
        {%endif%}
                <div class="row">
                    <div class="col-md-12">
                        {%if current_user.is_authenticated%}
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="green">
                                <i class="material-icons">language</i>
                            </div>
                            <div class="card-content">
                                    <h3 class="card-title">4 Month Heatmap</h3>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div id="cal-heatmap1"></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var cal1 = new CalHeatMap();
    var up = new Date();
    var year = up.getFullYear();
    var month = up.getMonth()-3;
    var dwn = new Date(year,month);
    cal1.init({
        itemSelector: "#cal-heatmap1",
        domain : "month",
        subDomain : "day",
        cellSize: 45,
        subDomainTextFormat: "%d",
        cellPadding: 10,
        start: dwn,
        minDate:dwn,
        maxDate:up,
        range:4,
        rowLimit:5,
        domainGutter: 26,
        displayLegend: false
    });
</script>
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>
{% endblock %}