<div class="loadingio-spinner-double-ring-xg15auftspk"><div class="ldio-v4eytxf3o6">
<div></div>
<div></div>
<div><div></div></div>
<div><div></div></div>
</div></div>
<style type="text/css">
@keyframes ldio-v4eytxf3o6 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-v4eytxf3o6 div { box-sizing: border-box!important }
.ldio-v4eytxf3o6 > div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #e15b64 transparent #e15b64 transparent;
  animation: ldio-v4eytxf3o6 1s linear infinite;
}

.ldio-v4eytxf3o6 > div:nth-child(2), .ldio-v4eytxf3o6 > div:nth-child(4) {
  width: 62px;
  height: 62px;
  top: 19px;
  left: 19px;
  animation: ldio-v4eytxf3o6 1s linear infinite reverse;
}
.ldio-v4eytxf3o6 > div:nth-child(2) {
  border-color: transparent #f8b26a transparent #f8b26a
}
.ldio-v4eytxf3o6 > div:nth-child(3) { border-color: transparent }
.ldio-v4eytxf3o6 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-v4eytxf3o6 > div:nth-child(3) div:before, .ldio-v4eytxf3o6 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 28px;
  background: #e15b64;
  border-radius: 50%;
  box-shadow: 0 72px 0 0 #e15b64;
}
.ldio-v4eytxf3o6 > div:nth-child(3) div:after {
  left: -8px;
  top: 28px;
  box-shadow: 72px 0 0 0 #e15b64;
}

.ldio-v4eytxf3o6 > div:nth-child(4) { border-color: transparent; }
.ldio-v4eytxf3o6 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-v4eytxf3o6 > div:nth-child(4) div:before, .ldio-v4eytxf3o6 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 19px;
  background: #f8b26a;
  border-radius: 50%;
  box-shadow: 0 54px 0 0 #f8b26a;
}
.ldio-v4eytxf3o6 > div:nth-child(4) div:after {
  left: -8px;
  top: 19px;
  box-shadow: 54px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-xg15auftspk {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-v4eytxf3o6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-v4eytxf3o6 div { box-sizing: content-box; }
</style>