<html>

<head>
    <title>Search Results</title>
</head>

<body>
<table style="width:100%">
    <tr>
        <th>Problema</th>
        <th>Scor</th>
        <th>Sursa</th>
        <th>Data</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th></th>
    </tr>
    {% for i in problems %}
    <tr>
        <th>{{ i['problema'] }}</th>
        <th>{{ i['scor'] }}</th>
        <th>{{ i['sursa'] }}</th>
        <th>{{ i['data'] }}</th>
    </tr>
    {% endfor %}
</table> 

</body>

</html>