{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
<div class="wrapper">
    {% with page='settings' %}
        {% include 'sidebar.html' %}
    {% endwith %}
    <div class="main-panel">
        {% with title="Settings" %}
            {% include 'navbar.html' %}
        {% endwith %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% if updated %}
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <span data-notify="message">Ai schimbat username-urile tale! Asteapta cateva secunde pana se descarca sursele tale!</span>
                        </div>
                        {% endif %}
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="purple">
                                <i class="material-icons">settings</i>
                            </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Sites</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
                                                {% for site in data %}
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#link{{3+loop.index}}" role="tablist">
                                                        {{site}}
                                                    </a>
                                                </li>
                                                {%endfor%}
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tab-content">
                                                {%for site in data%}
                                                    <div id="link{{3+loop.index}}" class="tab-pane">
                                                        <form id="typeValidation" class="form-horizontal" action="/settings" method="POST" novalidate="novalidate" >
                                                            <div class="row">
                                                                <label class="col-sm-6 col-form-label">Current Username:</label>
                                                                <div class="col-xl-2">
                                                                    <div class ="form-group bmd-form-group">
                                                                        <input class="form-control" type="text" name="{{site}}" required="false" aria-required="true" placeholder="{{data[site]}}">
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-fill btn-rose" type="submit">Change username</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        console.log({{data|safe}});
    </script>

{% endblock %}