{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
<div class="wrapper">
    {% with page='prob' %}
        {% include 'sidebar.html' %}
    {% endwith %}
    <div class="main-panel">
        {% with title="Lista Surse" %}
            {% include 'navbar.html' %}
        {% endwith %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {% if updated %}
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <span data-notify="message">Ai schimbat username-urile tale! Asteapta cateva secunde pana se descarca sursele tale!</span>
                        </div>
                        {% endif %}
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="purple">
                                <i class="material-icons">settings</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Sal</h4>
                                <div class="material-datatables">
                                    Sal 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}