<div class="sidebar" data-active-color="green" data-background-color="black" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                {% if not current_user.is_authenticated %}
                    <img src="https://www.gravatar.com/avatar/16c849fbf6376ca3e613b72ba33dc5ea" />
                {% else %}
                    <img src="{{ current_user.avatar() }}" />
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="info">
                <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            {% if current_user.fullname %}
                                {{ current_user.fullname }}
                            {% else %}
                                {{ current_user.nickname }}
                            {% endif %}
                        </a>
                        
                </div>
            </div>
            {% endif %}
        </div>
        
        <ul class="nav">

            {% if not current_user.is_authenticated %}
                <li {%if page == 'index'%} class="active" {%endif%}>
                            <a href="{{ url_for('index') }}">
                                <i class="material-icons">dashboard</i>
                                <p>Pagina principala</p>
                            </a>
                </li>

                <li>
                    <a href="{{ url_for('login') }}">
                    <i class="material-icons">fingerprint</i>
                    <p>Login</p>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('register') }}">
                    <i class="material-icons">person_add</i>
                    <p>Register</p>
                    </a>
                </li>
            {% endif %}

            {% if current_user.is_authenticated %}

                <li {%if page == 'index' and current_user.nickname == user%} class="active" {%endif%}>
                            <a href="{{ url_for('index') }}">
                                <i class="material-icons">dashboard</i>
                                <p>Profilul meu</p>
                            </a>    
                </li>

                <li {% if page == 'prob' %}class="active"{%endif%}>
                    <a href="{{ url_for('prob_user', nickname=current_user.nickname) }}">
                        <i class="material-icons">dashboard</i>
                        <p>Problemele mele</p>
                    </a>
                </li>

                <li {% if page == 'settings' %}class="active"{%endif%}>
                    <a href="{{ url_for('settings') }}">
                    <i class="material-icons">settings</i>
                    <p>Setari</p>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('logout') }}">
                    <i class="material-icons">fingerprint</i>
                    <p>Logout</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>